@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;600&family=Teko:wght@400&display=swap');
@import url('./utils.css');
@import url('./vars.css');
@import url('./elements.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.96)), url('../assets/bg-avengers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Chivo Mono', monospace;
    color: var(--white);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 10px;
}