.page {
    max-width: 100vw;
    min-height: 100vh;
}

.page,
.content-initial,
.content-skills,
.content-projects {
    position: relative;
}

.content-initial br {
    display: none;
}

.content-apresentation,
.content-cards,
.content-certificates,
.page-footer {
    background-color: var(--color-bg);
}

.expand-more-arrow {
    width: 40px;
    position: absolute;
    bottom: 5rem;
    z-index: 2;
    transition: all 5s;
    animation: expand-arrow infinite 5s alternate;
}

@keyframes expand-arrow {
    0% {
        bottom: 5rem;
    }

    100% {
        bottom: 8rem;
    }
}

.apresentation-infos,
.content-cards {
    width: 70%;
    max-width: 70%;
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 6rem 0;
}

.apresentation-infos,
.content-cards,
.card {
    box-shadow: 0px 14px 30px 5px rgba(0, 0, 0, 0.38);
    border-radius: var(--default-border-radius);

}

.apresentation-texts {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.apresentation-title {
    margin-bottom: 2rem;
}

.profile-image {
    width: 50%;
    border-radius: 50%;
}

.apresentation-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1.9rem;
}

.content-cards {
    flex-direction: column;
}

.card {
    width: 500px !important;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    transition: all .5s ease-in-out;
}

.card:hover {
    background-color: var(--white);
    color: var(--color-bg);

    transform: scale(1.013);
}

.skill-image {
    width: 150px;
    margin-bottom: 1rem;
}

.skill-h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.content-carousel {
    display: flex;
    width: 100%;
    gap: 4rem;
    overflow-x: scroll;
    padding: 4rem 2rem !important;
}

.content-carousel::-webkit-scrollbar {
    height: 10px;
    background-color: var(--color-bg);
}

.content-carousel::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 10px;
}

.certificate-image,
.project-image {
    width: 100%;
    border-radius: var(--default-border-radius);
}

.certificate-infos {
    margin-top: 1rem;
    display: flex;
    text-align: center;

}

.certificate-span,
.project-h1 {
    width: 100%;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.certificate-conclusion-year {
    width: fit-content;
    position: absolute;
    top: 2.12rem;
    right: 2.12rem;
    padding: .5rem;
    border-radius: var(--default-border-radius);
    background-color: var(--color-bg);
}

.card:hover .certificate-conclusion-year {
    color: var(--white);
}

.project-h1 {
    margin: 1rem 0;
}

.project-link {
    display: inline-block;
    font-size: 1.4rem !important;
}

.project-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.maitenance-span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .2rem .5rem;
    background-color: rgb(223, 4, 4);
    border-radius: var(--default-border-radius);
    margin-top: .6rem;
}

.page-footer,
.content-carousel {
    padding: 2rem;
}

.footer-span {
    font-size: 1.3rem;
    color: #292929;
    font-weight: 600;
}

.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    padding: 1.4rem;
    background-color: var(--black-blur);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    border-radius: 0px 0px var(--default-border-radius) var(--default-border-radius);
}

.menu-mobile {
    display: none;
    width: 32px;
    height: 32px;
}

.header-ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    transition: .5s all ease-in-out;
}


.header-li {
    border-radius: var(--default-border-radius);
    text-decoration: none;
}

.header-link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    position: relative;

}

.header-link::after {
    content: '';
    width: 0%;
    height: 4px;
    background-image: var(--gradient);
    position: absolute;
    top: 2.5rem;
    left: 0;
    transition: width .5s;
    border-radius: var(--default-border-radius);
}

.header-link:hover:after {
    width: 80%;
}

@media (max-width:1250px) {
    .certificate-image {
        width: 250px;
    }
}

@media (max-width:1010px) {

    .divider-bottom,
    .divider-top {
        display: none;
    }

    .apresentation-infos {
        flex-direction: column-reverse;
        width: 100%;
    }

    .apresentation-infos .title-h1,
    .paragraph-p {
        width: 100%;
        text-align: center !important;
    }

    .apresentation-texts {

        margin: 0;
    }

    .apresentation-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .paragraph-p {
        text-align: center;
    }

    .profile-image {
        width: 40%;
    }

    .content-cards {
        width: 90%;
    }



    .content-projects .card-projects {
        width: 400px;
    }
}

@media (max-width:830px) {
    .title-h2 {
        font-size: 7rem !important;
    }

    .profile-image {
        width: 65%;
    }

    .apresentation-infos,
    .content-cards {
        width: 95%;
        max-width: 95%;

    }
}

@media (max-width:600px) {

    .page-header {
        position: static;
    }

    .content-initial .title-h1 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .content-initial .title-h2 {
        font-size: 7rem !important;
        text-align: center;
    }

    .content-initial br {
        display: block;
    }

    .header-ul {
        display: none;

    }

    .menu-mobile {
        display: block;
    }
}

@media (max-width:400px) {
    .content-initial .title-h1 {
        text-align: center;
    }

    .page-header .title-h1 {
        font-size: 2.3rem;
    }
}